<div class="container-fluid pokedexBG">
  <div class="logo">
    <!--img class="pokeball" src="../assets/images/Pokeball.png"-->
    <img class="title" src="../assets/images/pokedex.png">
  </div>
  <div class="pokedexTab">
    <div class="Pokinfos">
      <p *ngIf="(pokemonInfos | async )?.name" > Name : {{(pokemonInfos | async )?.name}}</p><br>
      <br> > id : {{(pokemonInfos | async )?.id}}<br>
      <br> > height : {{(pokemonInfos | async )?.height}}
      <br> > weight : {{(pokemonInfos | async )?.weight}}<br>
      <br> > type 1 : {{(pokemonInfos | async )?.types[0].type.name}}
      <br> > type 2 : {{(pokemonInfos | async )?.types[1].type.name}}<br>
    </div>
    <div class="pokeImageBG">
      <img class="pokeImage" *ngIf="pokemonImageUrl((pokemonInfos | async )?.id)" [src]="pokemonImageUrl((pokemonInfos | async )?.id)">
    </div>
    <img class="pokedexPad" src="../assets/images/pokedextrans.png">
    <input class="pokesearch" #searchText type="text" placeholder="> type a pokemon name" (keyup.enter)="searchPokemon(searchText.value)" [(ngModel)]="InputText">
    <div class="led-red"></div>
  </div>
</div>
