<div class="container-fluid pokedexBG">
  <div class="logo">
    <img class="pokeball" src="../assets/images/Pokeball.png">
    <img class="title" src="../assets/images/pokedex.png">
  </div>
  <div class="pokedexTab">
    <div class="Pokinfos">
      > Name : <br>{{(pokemonInfos | async )?.name}}
      <br> > id : <br>{{(pokemonInfos | async )?.id}}
      <br> > height : <br>{{(pokemonInfos | async )?.height}}
      <br> > weight : <br>{{(pokemonInfos | async )?.weight}}
      <br> > type 1 : <br>{{(pokemonInfos | async )?.types[0].type.name}}
      <br> > type 2 : <br>{{(pokemonInfos | async )?.types[1].type.name}}
    </div>
    <div class="pokeImageBG">
      <img class="pokeImage" *ngIf="pokemonImageUrl((pokemonInfos | async )?.id)" [src]="pokemonImageUrl((pokemonInfos | async )?.id)">
    </div>
    <img class="pokedexPad" src="../assets/images/pokedextrans.png">
    <input class="pokesearch" #searchText type="text" placeholder=">" (keyup.enter)="searchPokemon(searchText.value)" [ngModel]="">
    <div class="led-red"></div>
  </div>
</div>
